<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VetConnect - Connecting Veterans</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <img src='/assets/logo.png' id='logo-pic' alt="Logo">
        </div>
        <div class="nav-buttons">
            <button>Login</button>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <div class="inner-div" id="left-par">
                <h1>Welcome to <strong>Vet</strong>Connect.</h1>
                <p>Here, our heroes are our #1 priority. We are a platform that gives veterans resources they are not
                    otherwise able to get. We offer financial advisory services through NPO's, PTSD/Depression
                    assistance through external organizations, and many more services.
                </p>
                <p>Get started today! It is as simple as creating a profile, providing your wanted services, and we take
                    care of the rest!</p>
            </div>
            <div class="inner-div">
                <img src="../assets/vector.JPG">
            </div>
        </div>
    </main>

    <footer class="main-footer">
        <p>&copy; 2023 <strong>Vet</strong>Connect</p>
    </footer>
</body>

</html>