<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VetConnect - Connecting Veterans</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <img src='/css/logo.png' id='logo-pic' alt="Logo">
        </div>
        <div class="nav-buttons">
            <form action="/api/loginpage" method="GET">
                <button type="submit">Login</button>
            </form>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <div class="inner-div" id="left-par">
                <h1>Welcome to <strong>Vet</strong>Connect.</h1>
                <p>Here, our heroes are our <strong>#1 </strong>priority. We are a platform that connects veterans
                    to resources they are not
                    otherwise able to get. We offer connections to financial advisory services through
                    <strong>NPOs</strong>
                    (Non-Profit Organizations),
                    PTSD/Depression
                    assistance through <strong>VSOs </strong>(Veteran Service Organizations), and many other services.
                </p>
                <p>Get started today! It is as simple as creating a profile, providing your desired services, and we
                    take
                    care of the rest!</p>
                <div class="nav-buttons">
                    <button>Find your opportunity &#8594;</button>
                </div>
            </div>
            <div class="inner-div" id="rightpar">
                <img id='primarimg' src="/css/vector.JPG">
            </div>
        </div>
    </main>

    <footer class="main-footer">
        <p>&copy; 2023 <strong>Vet</strong>Connect. All rights reserved.</p>
    </footer>
</body>

</html>