<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>VetConnect Login</title>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class="form">
        <div class='holder-div'>
            <form action="AddServlet" method="POST">
                <img id='smallimg' src="/css/logo2.png">
                <h3>Welcome to <strong>Vet</strong>Connect</h3>
                <input type="text" placeholder="username" name="username" />
                <input type="text" placeholder="password" name="password" />
                <button type="submit" name="calculate">login</button>
                <p>Not registered? Sign-Up Here!</p>
            </form>
        </div>
    </div>
</body>

</html>